@charset "utf-8";
/** public **/
/*.clear{clear:both;}*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: '.';
    height: 0;
    clear: both;
    visibility: hidden;
    display: block;
}

/** layout**/
body, .header .header_top {
    margin: 0 auto;
}

.hide {
    display: none;
}

/*for header*/
.header {
    width: 100%
}

.header .header_top {
    width: 1280px
}

.header .header_top ul {
    margin-top: 24px;
    height: 56px;
    line-height: 56px;
}

.header .header_top ul li {
    float: left;
    height: 56px;
}

.header .header_top ul .li1 a {
    width: 95px;
    background-image: url("../img/logo1.png");
    height: 56px;
    margin-left: 40px;
    display: block
}

.header .header_top ul .li2 {
    border: 1px solid #bdbdbd;
    height: 40px;
    margin-top: 15px;
    margin-left: 20px;
}

.header .header_top ul .li3 {
    font-family: "微软雅黑";
    font-size: 24px;
    color: #1a1a1a;
    margin-top: 16px;
    margin-left: 20px;
}

.header .header_top ul .li4 {
    font-family: "微软雅黑";
    font-size: 16px;
    color: #1a1a1a;
    margin-top: 22px;
    margin-left: 699px;
}

.header .header_top ul .li5 {
    position: relative;
}
.header .header_top ul .li5 input {
    width: 66px;
    height: 32px;
    margin-top: 28px;
    margin-left: 10px;
    float: right;
    margin-right: 40px;
    position: absolute;
    top: -10px;
}

.header .header_top .nav {
    width: 1280px;
    margin: 0 auto;
    border: 1px solid #bdbdbd;
    margin-top: 20px;
}

/*content*/
.content {
    width: 100%;
}

.content {
    width: 571px;
    margin: 60px auto 0;
}

.picture {
    width: 232px;
    height: 124px;
    margin: 0 auto;
    margin-top: 50px;
}

/*.content .box {*/
/*width: 571px;*/
/*height: 40px;*/
/*margin-bottom: 24px;*/
/*position: relative;*/
/*margin-top: 10px;*/
/*}*/

.title1 {
    width: 70px;
    text-align: right;
    line-height: 28px;
    float: left;
    margin-left: 150px;
    color: #666666;
    font-size: 14px;
}

.input1 {
    display: block;
    width: 160px;
    height: 28px;
    border: 1px #dedede solid;
    padding-left: 10px;
    color: #999999;
    text-align: center;
    color: #1a1a1a;
    font-family: "微软雅黑";
    font-size: 14px;
}

.title2 {
    width: 70px;
    text-align: right;
    line-height: 28px;
    float: left;
    margin-left: 122px;
    color: #666666;
    font-size: 14px;
}

.input2 {
    display: block;
    width: 190px;
    height: 28px;
    border: 1px #dedede solid;
    padding-left: 10px;
    color: #999999;
    text-align: center;
    color: red;
    font-family: "微软雅黑";
    font-size: 14px;
}