@charset "utf-8";
/** public **/
/*.clear{clear:both;}*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: '.';
    height: 0;
    clear: both;
    visibility: hidden;
    display: block;
}

/** layout**/
body, .header .header_top {
    margin: 0 auto;
}

.hide {
    display: none;
}

/*for header*/
.header {
    width: 100%
}

.header .header_top {
    width: 1280px
}

.header .header_top ul {
    margin-top: 24px;
    height: 56px;
    line-height: 56px;
}

.header .header_top ul li {
    float: left;
    height: 56px;
}

.header .header_top ul .li1 a {
    width: 95px;
    background-image: url("../img/logo1.png");
    height: 56px;
    margin-left: 40px;
    display: block
}

.header .header_top ul .li2 {
    border: 1px solid #bdbdbd;
    height: 40px;
    margin-top: 15px;
    margin-left: 20px;
}

.header .header_top ul .li3 {
    font-family: "微软雅黑";
    font-size: 24px;
    color: #1a1a1a;
    margin-top: 16px;
    margin-left: 20px;
}

.header .header_top ul .li4 {
    font-family: "微软雅黑";
    font-size: 16px;
    color: #1a1a1a;
    margin-top: 22px;
    margin-left: 699px;
}

.header .header_top ul .li5 a {
    background-image: url("../img/denglu.png");
    width: 66px;
    height: 32px;
    margin-top: 28px;
    margin-left: 10px;
    float: right;
    margin-right: 40px;
}

.header .header_top .nav {
    width: 1280px;
    margin: 0 auto;
    border: 1px solid #bdbdbd;
    margin-top: 20px;
}

.left {
    width: 60px;
    height: 300px;
    background-color: red;
    position: absolute;
    top: 120px;
    left: 60px;
}

.content {
    position: relative;
}

.middle {
    width: 1000px;
    margin: 0 auto;
    margin-top: 60px;
}

.content video {
    margin: 0 auto;
}

.right {
    width: 60px;
    height: 300px;
    background-color: red;
    position: absolute;
    top: 120px;
    right: 60px;
}

.main {
    width: 800px;
    margin: 20px auto;
    padding-left: 30px;
}

span {
    display: inline-block;
    width: 200px;
    height: 25px;
    line-height: 25px;
    vertical-align: center;
    text-align: left;
    margin-bottom: 10px;
}

.tag {
    float: right;
    font-size: 13px;
    margin-left: 370px;
    vertical-align: bottom;
    text-align: center;
    margin-bottom: 0;
}

.text {
    width: 750px;
    height: 180px;
    margin: 0 auto;

    resize: none;
}

input {
    position: relative;
    left: 670px;
    display: inline-block;
    width: 80px;
    height: 50px;
    background: #e3e3e3;
    box-shadow: 0px 1px 1px #e3e3e3;
    border: 0;
    margin-left: 670px;
    margin-top: 10px;
}

.creatediv {
    width: 675px;
    height: 80px;
    border: 1px solid gray;
    position: relative;
    margin-top: 10px;
    padding-left: 75px;
}

.createinput {
    width: 80px;
    height: 30px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.createimg {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.createdivs {
    width: 600px;
    height: 50px;
    position: absolute;
    top: 15px;
    left: 85px;
}


