@charset "utf-8";
/** public **/
.clear {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/** layout**/
body, .a, .a .header, .a .header_top {
    margin: 0 auto;
}

body {
    position: relative;
}

/*for header*/
.header {
    width: 100%;
}

.header_top {
    height: 40px;
    background-color: #4c4c4c;
    width: 100%;
}

.header_top span {
    font-family: "微软雅黑";
    font-size: 14px;
    color: #f5f5f5;
}

.header_top .header_top_content span {
    height: 40px;
    line-height: 40px;
    display: inline-block;
}

.header_top .header_top_content {
    margin: 0 auto;
    height: 40px;
    width: 1200px;
    position: relative;
}

.header_top .header_top_content img {
    display: inline-block;
    padding-top: 1px;
}

.header_top .header_top_content a {
    font-family: "微软雅黑";
    font-size: 14px;
    color: #f5f5f5;
    height: 40px;
    line-height: 40px;
    display: inline-block;
}

.header_top .header_top_content .span1 {
    float: left;
}

.header_top .header_top_content a {
    float: right;
}

.header_top .header_top_content .span2 {
    float: right;
    padding-right: 75px;
}

.header_top .header_top_content a img {
    position: absolute;
    top: 13px;
    left: 1200px;
}

.header_top .header_top_content a .span3 {
    padding-right: 8px;
    color: #33d6f4;
}

.header_bottom {
    height: 60px;
    background-color: #ec8282;
    width: 100%;
}

.header_bottom .header_bottom_content {
    margin: 0 auto;
    height: 60px;
    width: 1200px;
    position: relative;
}

.header_bottom .header_bottom_content .logo img {
    float: left;
    padding-top: 7px;
}

.header_bottom .header_bottom_content .nav ul {
    float: right;
}

.header_bottom .header_bottom_content .nav ul li {
    float: right;
}

.header_bottom .header_bottom_content .search input::-webkit-input-placeholder {
    color: #1a1a1a;
}

.header_bottom .header_bottom_content .search input:-moz-placeholder {
    color: #1a1a1a;
}

.header_bottom .header_bottom_content .search input::-moz-placeholder {
    color: #1a1a1a;
}

.header_bottom .header_bottom_content .search input:-ms-input-placeholder {
    color: #1a1a1a;
}

.header_bottom .header_bottom_content .search input {
    float: right;
    border: 1px solid #ffffff;
    height: 30px;
    width: 220px;
    margin-top: 15px;
    border-radius: 30px;
    background-color: #ec8282;
    outline: none;
    padding-left: 12px;
}

.header_bottom .header_bottom_content .search img {
    float: right;
    position: absolute;
    top: 21px;
    left: 1170px;
}

.header_bottom .header_bottom_content .nav ul li a {
    font-family: "微软雅黑";
    font-size: 16px;
    color: #ffffff;
    height: 60px;
    line-height: 60px;
}

.header_bottom .header_bottom_content .nav ul li {
    padding-left: 75px;
}

.header_bottom .header_bottom_content .nav ul {
    padding-right: 150px;
}

.header_bottom .header_bottom_content .nav ul li a:hover {
    font-family: "微软雅黑";
    font-size: 16px;
    color: #1a1a1a;
}

.header .header_banner {
    height: 500px;
    width: 100%;
    position: relative;
}

.header .header_banner .picture .current {
    margin: 0 auto;
    width: 1280px;
    height: 500px;
    background-image: url("../img/banner12.png")
}

/*for content*/
.content {
    width: 100%;
}

.content .content_top {
    width: 1280px;
    height: 28px;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url("../img/nav1.png");
}

.content .content_middle {
    width: 1200px;
    height: 201px;
    margin: 0 auto;
    border: 10px solid #f5f5f5;
    margin-top: 40px;
}

.content .content_middle .middle_left {
    height: 201px;
    width: 595px;
    border-right: 10px solid #f5f5f5;
    position: relative;
    float: left;
}

.content .content_middle .middle_left .pic1 {
    width: 80px;
    height: 64px;
    background: url("../img/PC.png") no-repeat;
    position: absolute;
    left: 250px;
    top: 20px;
}

.content .content_middle .middle_left .p1 {
    font-family: "微软雅黑";
    font-size: 18px;
    color: #1a1a1a;
    width: 300px;
    position: absolute;
    left: 142px;
    top: 94px;
    text-align: center;
}

.content .content_middle .middle_left .line1 {
    width: 545px;
    margin: 0 auto;
    border: 1px solid #bdbdbd;
    position: absolute;
    left: 25px;
    top: 130px;
}

.content .content_middle .middle_left .ul1 {
    width: 585px;
    position: absolute;
    left: 25px;
    top: 150px;
}

.content .content_middle .middle_left .ul1 li {
    float: left;
    height: 40px;
    line-height: 40px;
}

.content .content_middle .middle_left .ul1 .li2 {
    height: 40px;
    border: 1px solid #bdbdbd;
}

.content .content_middle .middle_left .ul1 li a {
    font-family: "微软雅黑";
    font-size: 18px;
    color: #1a1a1a;
}

.content .content_middle .middle_left .ul1 .li1 {
    margin-left: 90px;
}

.content .content_middle .middle_left .ul1 .li2 {
    margin-left: 100px;
}

.content .content_middle .middle_left .ul1 .li3 {
    margin-left: 100px;
}

.content .content_middle .middle_right {
    height: 201px;
    width: 595px;
    position: relative;
    float: left;
}

.content .content_middle .middle_right .pic2 {
    width: 34px;
    height: 64px;
    background: url("../img/mobliephone.png") no-repeat;
    position: absolute;
    left: 273px;
    top: 20px;
}

.content .content_middle .middle_right .p2 {
    font-family: "微软雅黑";
    font-size: 18px;
    color: #1a1a1a;
    width: 300px;
    position: absolute;
    left: 142px;
    top: 94px;
    text-align: center;
}

.content .content_middle .middle_right .line2 {
    width: 545px;
    margin: 0 auto;
    border: 1px solid #bdbdbd;
    position: absolute;
    left: 25px;
    top: 130px;
}

.content .content_middle .middle_right .ul2 {
    width: 585px;
    position: absolute;
    left: 25px;
    top: 150px;
}

.content .content_middle .middle_right .ul2 li {
    float: left;
    height: 40px;
    line-height: 40px;
}

.content .content_middle .middle_right .ul2 .li2 {
    height: 40px;
    border: 1px solid #bdbdbd;
}

.content .content_middle .middle_right .ul2 li a {
    font-family: "微软雅黑";
    font-size: 18px;
    color: #1a1a1a;
}

.content .content_middle .middle_right .ul2 .li1 {
    margin-left: 90px;
}

.content .content_middle .middle_right .ul2 .li2 {
    margin-left: 100px;
}

.content .content_middle .middle_right .ul2 .li3 {
    margin-left: 100px;
}

.content .content_middle .middle_left .ul1 li a:hover {
    font-family: "微软雅黑";
    font-size: 18px;
    color: #33d6f4;
}

.content .content_middle .middle_right .ul2 li a:hover {
    font-family: "微软雅黑";
    font-size: 18px;
    color: #33d6f4;
}

.content .content_bottom {
    height: 500px;
    width: 100%
}

.content .side {
    width: 100%;
    height: 80px;
    position: relative;
}

.content .side ul {
    position: absolute;
    right: 0px;
    top: -380px;
}

.content .side .li1 {
    background-image: url("../img/kefudianhua.png");
    width: 60px;
    height: 60px;
    margin: 10px 0px;
}

.content .side .li2 {
    background-image: url("../img/zixun.png");
    width: 60px;
    height: 60px;
    margin: 10px 0px;
}

.content .side .li3 {
    background-image: url("../img/returnarrow.png");
    width: 60px;
    height: 60px;
    margin: 10px 0px;
}

.content .side .li3:hover {
    background-image: url("../img/returnarrow2.png");
}

.content .side .li2:hover {
    background-image: url("../img/zixun.png");
}

.content .side .li1:hover {
    background-image: url("../img/kefudianhua2.png");
}

.content .side .li4 {
    width: 240px;
    height: 100px;
    background-image: url("../img/kefutelephone.png");
    position: absolute;
    right: 70px;
    top: 10px;
    display: none;
}

/*for footer*/
.footer {
    height: 180px;
    width: 100%;
}

.footer .footer_top {
    background-color: #4c4c4c;
    height: 120px;
    width: 100%;
}

.footer .footer_top .footer_top_content {
    width: 1280px;
    margin: 0 auto;
}

.footer .footer_top .footer_top_left {
    padding-top: 30px;
    float: left;
}

.footer .footer_top .footer_top_left .left_info ul {
    padding-left: 20px;
    float: left;
}

.footer .footer_top .footer_top_left .left_info ul li {
    float: left;
    padding-right: 20px;
    padding-left: 20px;
}

.footer .footer_top .footer_top_left .left_info ul li a {
    font-family: "微软雅黑";
    font-size: 16px;
    color: #e5e5e5;
}

.footer .footer_top .footer_top_left .left_info ul .line {
    border: 1px solid #e5e5e5;
    height: 14px;
    margin-top: 5px;
    padding: 0px;
}

.footer .footer_top .footer_top_left .left_info ul .li1 {
    padding-left: 0px;
}

.footer .footer_top .footer_top_left .left_info ul .li4 {
    padding-right: 0px;
}

.footer .footer_top .footer_top_left .left_info ul li a:hover {
    font-family: "微软雅黑";
    font-size: 16px;
    color: #33d6f4;
}

.footer .footer_top .footer_top_left .left_text {
    padding-top: 36px;
    padding-left: 20px;
}

.footer .footer_top .footer_top_left .left_text span {
    font-family: "微软雅黑";
    font-size: 16px;
    color: #e5e5e5;
}

.footer .footer_top .footer_top_right {
    float: right;
    margin-top: -60px;
    margin-left: 480px;
}

.footer .footer_top .footer_top_right span {
    padding-left: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #e5e5e5;
    float: left;
}

.footer .footer_top .footer_top_right .right_info li, img {
    float: left;
}

.footer .footer_top .footer_top_right .right_info {
    height: 60px;
    line-height: 60px;
    position: relative;
}

.footer .footer_top .footer_top_right .right_info .li2 {
    margin-left: 96px;
}

.footer .footer_top .footer_top_right .right_info .li3 {
    margin-left: 68px;
}

.footer .footer_top .footer_top_right .right_info .li2:hover {
    font-family: "微软雅黑";
    font-size: 16px;
    color: #33d6f4;
}

.footer .footer_top .footer_top_right .right_info .li1 {
    background-image: url("../img/wechat.png");
    height: 60px;
    width: 61px;
}

.footer .footer_top .footer_top_right .right_info .li2 {
    background-image: url("../img/email.png");
    height: 60px;
    width: 60px;
}

.footer .footer_top .footer_top_right .right_info .li3 {
    background-image: url("../img/phone.png");
    height: 60px;
    width: 60px;
}

.footer .footer_top .footer_top_right .right_info .li1:hover {
    background-image: url("../img/wechat2.png");
}

.footer .footer_top .footer_top_right .right_info .li4 {
    background-image: url("../img/erweima.png");
    height: 160px;
    width: 160px;
    position: absolute;
    top: -30px;
    left: 75px;
    display: none;
}

.footer .footer_top .footer_top_right .right_info .span3 {
    margin-top: -18px;
}

.footer .footer_top .footer_top_right .right_info .span4 {
    float: right;
    margin-top: -24px;
    margin-right: 43px;
}

.footer .footer_bottom {
    background-color: #1a1a1a;
    height: 60px;
    width: 100%;
}

.footer .footer_bottom .bottom_content P {
    font-family: "微软雅黑";
    font-size: 12px;
    color: #b2b2b2;
}

.footer .footer_bottom .bottom_content {
    width: 1000px;
    margin: 0 auto;
    padding-top: 12px;
}

.footer .footer_bottom .bottom_content P {
    display: block;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.footer .footer_bottom .bottom_content .p1 {
    padding-bottom: 6px;
}


