@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

/*body {*/
/*font-family: Roboto, sans-serif;*/
/*background: #2196F3;*/
/*font-size: 16pt;*/
/*color: #6ab8f7;*/
/*font-weight: 200;*/
/*padding: 2em;*/
/*}*/

.col {
    display: inline-block;
    vertical-align: top;
}

main {
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    display: inline-block;
    left: 50%;
}

main header {
    color: #fff;
    text-align: center;
    margin: 1em;
}

main header h1 {
    font-size: 1.25em;
    margin: 0.25em;
}

main header a {
    color: #6ab8f7;
    text-decoration: none;
}

.button {
    position: relative;
    margin: 1em;
    font-weight: 100;
    padding: 1em 1.25em;
    text-align: center;
    width: 200px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.button.raised {
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    background: #0c84e4;
    box-shadow: 0px 1px 1px #085a9b;
}

.button.raised:active {
    background: #0c7dd8;
    box-shadow: 0px 1px 1px #063e6b;
}

span {
    font-weight: 400;
}

input[type="checkbox"].toggle {
    -moz-appearance: none;
    -webkit-appearance: none;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    left: 0;
    top: 0;
    cursor: pointer;
}

input[type="checkbox"].toggle:focus {
    outline: 0;
}

.anim {
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}

.anim:before {
    position: relative;
    content: '';
    display: block;
    margin-top: 100%;
}

.anim:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
}

.clickable .toggle:checked + .anim {
    -moz-animation: anim-in 0.75s;
    -webkit-animation: anim-in 0.75s;
    animation: anim-in 0.75s;
}

.clickable .toggle:checked + .anim:after {
    -moz-animation: anim-in-pseudo 0.75s;
    -webkit-animation: anim-in-pseudo 0.75s;
    animation: anim-in-pseudo 0.75s;
}

.clickable .toggle:not(:checked) + .anim {
    -moz-animation: anim-out 0.75s;
    -webkit-animation: anim-out 0.75s;
    animation: anim-out 0.75s;
}

.clickable .toggle:not(:checked) + .anim:after {
    -moz-animation: anim-out-pseudo 0.75s;
    -webkit-animation: anim-out-pseudo 0.75s;
    animation: anim-out-pseudo 0.75s;
}

.hoverable:hover > .anim {
    -moz-animation: anim-out 0.75s;
    -webkit-animation: anim-out 0.75s;
    animation: anim-out 0.75s;
}

.hoverable:hover > .anim:after {
    -moz-animation: anim-out-pseudo 0.75s;
    -webkit-animation: anim-out-pseudo 0.75s;
    animation: anim-out-pseudo 0.75s;
}

@-webkit-keyframes anim-in {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-moz-keyframes anim-in {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-ms-keyframes anim-in {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes anim-in {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}

@-moz-keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}

@-ms-keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}

@keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}

@-webkit-keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-moz-keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-ms-keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}

@-moz-keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}

@-ms-keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}

@keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}

/** public **/
/*.clear{clear:both;}*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: '.';
    height: 0;
    clear: both;
    visibility: hidden;
    display: block;
}

/** layout**/
body, .header .header_top {
    margin: 0 auto;
}

.hide {
    display: none;
}

/*for header*/
.header {
    width: 100%
}

.header .header_top {
    width: 1280px
}

.header .header_top ul {
    margin-top: 24px;
    height: 56px;
}

.header .header_top ul li {
    float: left;
    height: 56px;
}

.header .header_top ul .li1 a {
    width: 95px;
    background-image: url("../img/logo1.png");
    height: 56px;
    margin-left: 40px;
    display: block
}

.header .header_top ul .li2 {
    border: 1px solid #bdbdbd;
    height: 40px;
    margin-top: 15px;
    margin-left: 20px;
}

.header .header_top ul .li3 {
    font-family: "微软雅黑";
    font-size: 24px;
    color: #1a1a1a;
    margin-top: 22px;
    margin-left: 20px;
}

.header .header_top ul .li4 {
    font-family: "微软雅黑";
    font-size: 16px;
    color: #1a1a1a;
    margin: auto;
    float: right;
    margin-right: 1rem;
    margin-top: 2rem;
}

/*.header .header_top ul .li5 input {*/
/*background: url("../img/denglu.png") no-repeat;*/
/*width: 66px;*/
/*height: 32px;*/
/*margin-top: 28px;*/
/*margin-left: 10px;*/
/*float: right;*/
/*margin-right: 40px;*/
/*border: none*/
/*}*/

.header .header_top .nav {
    width: 1280px;
    margin: 0 auto;
    border: 1px solid #bdbdbd;
    margin-top: 20px;
}

/*for content*/

.content {
    width: 100%;
}

.content {
    width: 571px;
    margin: 60px auto 0;
}

.content .box {
    width: 571px;
    height: 40px;
    margin-bottom: 24px;
    position: relative;
    margin-top: 10px;
}

.title {
    width: 70px;
    text-align: right;
    line-height: 28px;
    float: left;
    margin-right: 10px;
    color: #666666;
    font-size: 14px;
}

.all {
    display: block;
    width: 338px;
    height: 28px;
    border: 1px #dedede solid;
    padding-left: 10px;
    color: #999999;
}

.photo {
    display: block;
    width: 120px;
    height: 120px;
    padding-left: 10px;
    margin-left: 80px;
}

.photo_title {
    width: 70px;
    text-align: right;
    line-height: 20px;
    float: left;
    margin-right: 10px;
    color: #666666;
    font-size: 14px;
}

.photo_box {
    margin-bottom: 24px;
    position: relative;
    margin-top: 10px;
}

.file {
    display: block;
    width: 240px;
    height: 20px;
    padding-left: 100px;
    margin-left: 150px;
}

.money_left {
    display: block;
    width: 108px;
    height: 28px;
    border: 1px #dedede solid;
    padding-left: 10px;
    color: #999999;
    float: left;
}

.money_right {
    display: block;
    width: 66px;
    height: 32px;
    float: right;
    background: url("../img/denglu.png") no-repeat;
    border: none;
    margin-right: 150px;
}